{% extends 'Site/base/base.html' %} {% block content %}
<div>
	<div class="table-responsive">
		{% if object_list %}
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col" style="color: white;">Author</th>
						<th scope="col" style="color: white;">Title</th>
					</tr>
				</thead>
				<tbody>
					{% for post in object_list %}
					<tr>
						<td>
							<a href="{% url 'Site:profile' post.userID.nickName %}" style="color: white;text-decoration: none;">
								{{ post.userID }}
							</a>
						</td>
						<td title="{{ post.created|date:"P d.M.y" }}" data-toggle="tooltip" data-placement="top">
							<a href="{% url 'Site:post-detail' post.id %}" style="color: pink;">
								{{ post.title }}
							</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% include 'Site/view/main_pagenation.html' %}
		{% elif not object_list %}
			<h1 style="text-align: center; margin-top: 300px; font-size: 90px">
				Sorry 😓
			</h1>
			<h1 style="text-align: center; font-size: 60px">
				No Pages are available now!
			</h1>
			<h1 style="text-align: center; font-size: 40px; color: rgb(165, 165, 165)">
				Maybe you could write down something for us?
			</h1>
		{% endif %}
	</div>
</div>
{% endblock content %}
