{% load bootstrap4 %}
<div style="margin-left: 12px" class="comment">
	{% if not comment.parent %}
		<div class="wrapper" style="border: 4px solid #5e5e5e; padding: 20px; margin-bottom: 30px; box-shadow: 0 0 20px rgb(97, 97, 97)">
	{% else %}
		<div class="wrapper" style="padding: 20px;">
	{% endif %}
		<a	class="d-flex align-items-center text-muted text-decoration-none"
			href="{% url 'Site:profile' comment.userID.nickName %}">
					{% if comment.userID.profileImage %}
						<img	class="border rounded-circle mb-0 mr-2"
								src="{{ comment.userID.profileImage.url }}"
								alt="@{{ comment.userID.nickName }}-profile image"
								width="32"
								height="32"/>
					{% elif not comment.userID.profileImage %}
						<img	class="border rounded-circle mb-0 mr-2"
								style="background-color: white;"
								width="32"
								height="32"/>
					{% endif %}
				<b style="font-size: 20px;">{{ comment.userID.nickName }}</b>
				<b style="float: right; margin-left: auto;">{{ comment.created }}</b>
		</a>
		<hr>
		<p class="comment-body">{{comment}}</p>
		<div class="reply mb-2 btn_delete" style="display:flex;">
			{% if comment.userID == user or request.user.is_admin %}
				<script>
					function	comment_remove_btn()
					{ document.getElementById("Remove_Btn_A").click(); }
				</script>
				<button onclick="comment_remove_btn()"
						style="color: #fff; background-color: #fd310d; border-color: #fd310d;"
						class="btn">
					<a	id="Remove_Btn_A" href="{% url 'Site:comment-delete' comment.postID.id comment.id %}"
						style="color: white; text-decoration:none;">
						Delete
					</a>
				</button>&nbsp;
			{% endif %}
			<button onclick="document.getElementById('comment-form-{{comment.id}}').hidden = false;"
					style="color: #fff; background-color: #0d6efd; border-color: #0d6efd;"
					class="btn">
				Reply
			</button>
			<form method="POST" action="{% url 'Site:comment' comment.postID.id %}" class="comment-up-down"style="float: right; margin-left: auto;">
				{% csrf_token %}
				<input type='hidden' value='{{ comment.id }}' name='id'>
				{% if request.user in comment.upvotes.all %}
					<input type="submit" name="comment-up" class="btn btn-outline-primary" value="UP: {{ comment.upvotes.count }}"></input>
				{% else %}
					<input type="submit" name="comment-up" class="btn btn-outline-secondary" value="UP: {{ comment.upvotes.count }}"></input>
				{% endif %}
				{% if request.user in comment.downvotes.all %}
					<input type="submit" name="comment-down" class="btn btn-outline-danger" value="DOWN: {{ comment.downvotes.count }}"></input>
				{% else %}
					<input type="submit" name="comment-down" class="btn btn-outline-secondary" value="DOWN: {{ comment.downvotes.count }}"></input>
				{% endif %}
			</form>
		</div>
		<form	id="comment-form-{{comment.id}}"
				action="{% url 'Site:comment' comment.postID.id %}"
				method="post"
				class="form"
				hidden="true">
			{% csrf_token %}
			{% bootstrap_form comment.get_replyform %}
			{% buttons %}
			{% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
			<a		class="btn btn-secondary"
					href="javascript:document.getElementById('comment-form-{{comment.id}}').hidden = true;">
				Cancel
			</a>
			{% endbuttons %}
		</form>
		{% for child in comment.get_comments %}
			{% include 'Site/view/post_comment.html' with comment=child %}
		{% endfor %}
	</div>
</div>
